body {
    font-family: 'Segoe UI';
    background-color: rgb(15, 15, 15);
}

.main-container {
    max-width: 90rem;
    margin: 0 auto;
    background-color: rgb(15, 15, 15);
    width: 71%; /* same as binary-container */
    max-width: 80rem; /* same as binary-container */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
}

.img-block,
.text-block {
    display: block;
}

.text-block {
    font-size: 1.1rem;
    color: white;
    margin-left: 3%;
}

.text-block-bottom {
    font-size: 1rem;
    color: white;
    margin-left: 3%;
}

.text-center {
    text-align: center;
    margin-top: -5%;
}

.larger-text {
    font-size: 1.75rem;
    margin-left: 3%;
}

.largest-text {
    font-size: 2.4rem; 
}

.text-white {
    color: white;
    margin-top: 2%;
}

.flight-button {
    display: block;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    border: 3px solid white; 
    padding: 10px 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    /* or relative/absolute  */
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 20%; 
    border-radius: 20px;
}

.flight-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-height: 890px) {
    .flight-button {
        bottom: 10%;
    }
}

@media (min-height: 1000px) {
    .flight-button {
        bottom: 20%;
    }
}

.binary-container {
    font-family: 'Segoe UI';
    background: rgb(15, 15, 15); 
    padding: 0.5px; 
    margin-bottom: 8%; 
    width: 75%; 
    max-width: 80rem; 
    margin-left: auto;
    margin-right: auto;
}

.fade-in-element {
    opacity: 0;
    transition: opacity 2.5s ease-in;  /* 1 second fade-in */
}

@keyframes fadeIn {
    from {
        opacity: 0.3; 
    }
    to {
        opacity: 1; 
    }
}

.fading-char {
    animation: fadeIn 0.5s ease-in forwards;
}

/* STARTING SECTION FOR TRACE.HTML */

.main-container {
    max-width: 90rem;
    margin: 0 auto;
    background-color: rgb(15, 15, 15);
}

.block-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    padding-top: 4rem; 
    color: white;
}

.grid-item img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin-bottom: 1rem;
}

.grid-item p {
    text-align: left; 
    margin: 0; 
    max-width: 300px; 
    font-size: 0.92rem;
}

.binary-location {
    font-size: 0.65rem; 
    background: linear-gradient(white, rgb(141, 141, 141)); 
    color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text; 
    padding: 0rem, 0.25rem; 
    overflow-wrap: break-word; 
    display: inline-block; 
}

.top-padding {
    padding-top: 2rem; 
}
